<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scripts/index.js"></script>
    <link rel="stylesheet" href="styles/signup_page.css">
</head>
<body ng-app="login_and_register" ng-controller="login_controller">
<div id="left_part">
    <p></p>
</div>
<div id="center_part">
    <br class="span3">
    <h2>Sign Up</h2>
    <form>
        <label>First Name</label>
        <input type="text" name="firstname" ng-model="formData.user_name" id="first-name" class="span3" required></br>
        <label>Password</label>
        <input type="text" name="lastname" ng-model="formData.password" id="last-name" class="span3"></br>
        <label>Email Address</label>
        <input type="email" name="email" ng-model="formData.email_id" id="email" class="span3" required></br>
        <label><input type="checkbox" id="terms_and_condition" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.</label></br>

        <div id="register-button">
            <button type="button" ng-click="register()">Register</button>
        </div>
    </form>
</div>
<div id="right_part">
    <p></p>
</div>
</body>
</html>